<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here you can view your csv Files</h1>
    <ul>
        <% for(let file of files){%>
        <li>
          <h2>
            <a href="/csv/displayData/<%=file.id%>">
              <h4><%= file.originalname%></h4>
            </a>
            <span class="delete"> <a href="/csv/deleteFiles/<%=file.id%>">Delete</a></span>
          </h2>
        </li>
        <%}%>
      </ul>

</body>
</html>