<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here you can view your csv Files</h1>
    <div class="container">
        <div class="row text-center m-3">
          <h1>List of Uploaded CSV Files:</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <ul class="list-group">
            <% for(let file of files){%>
            <li class="list-group-item d-flex justify-content-between">
              <div class="col-md-6">
                <a
                  class="text-primary fs-4 text-capitalize"
                  href="/csv/displayData/<%=file.id%>"
                >
                  <%= file.originalname%>
                </a>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-danger">
                  <a href="/csv/deleteFile/<%=file.id%>"  class="link-light">Delete</a>
                </button>
              </div>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
</body>
</html>