<footer id="fixed-bottom" class="flex-shrink-0 py-2 bg-dark text-white d-flex flex-column h-100">
    <div class="containerFooter text-center">
      <small> &copy; Made with ❤️ By Shekhar</small>
    </div>
  </footer>