
<header class="p-2  text-black" style="background-color: black" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <!-- Nav Logo -->
        <a class="navbar-brand" href="#">
          <img src="/IMAGES/csv_table.jpg" alt="Logo" width="45" height="40">
        </a>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="../" class="nav-link px-3 text-white"><i class="fa fa-home"></i> Home</a></li>
        </ul>
        <div class="text-end">
          
            <a  href="/csv/viewfiles" class="btn btn-success me-2"><i class="fa fa-folder"></i> View Files</a>
            <a  href="/" class="btn btn-warning"><i class="fa fa-upload"></i> Upload Files</a>
        </div>
      </div>
    </div>
    </header>
   















